@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

html {
   box-sizing: border-box;
}

*,
*:before,
*:after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

.wrap {
   overflow-x: hidden;
}

.my-sticky {
   position: fixed;
   top: 0;
   left: 0;
}

img {
   border-style: none;
}

html {
   text-align: center;
   scroll-behavior: smooth;
}

body {
   margin: 0;
}

nav {
   background-color: #0030bf;
   z-index: 1;
   border-bottom: 4px solid #e71414;
   border-radius: 0 0 0.25rem 0.25rem;
   display: flex;
   align-items: center;
   text-align: left;
   width: 100%;
   padding: 30px 0px 24px 0px;
   z-index: 6000;
}

main {
   display: block;
   top: 50%;
   padding-top: 3%;
}

a {
   color: inherit;
   text-decoration: inherit;
   background-color: transparent;
   font-family: 'Raleway', sans-serif;
   outline: 0;
   color: white;
}


a:link {
   text-decoration: none;
}

a:visited {
   text-decoration: none;
}

a:hover {

   color: #e71414;

}



p {
   font-family: 'Raleway', sans-serif;
   width: 80%;
   text-align: justify;
   display: inline-block;
   font-size: 1.5rem;
}


.copyright {
   width: 150%;
   color: white;
   padding: 0 16px 0 16px;
   text-align: left;
}



.tooltip:hover .tooltiptext {
   visibility: visible;
}

.logo {
   max-height: 280px;
   max-width: 400px;
   position: relative;
   right: 0px;
}

@media only screen and (max-width:880px) {
   .logo {
      max-height: 280px;
      max-width: 300px;
      position: relative;
      right: 0px;
   }
}

@media only screen and (max-width:792px) {
   .logo {
      max-height: 280px;
      max-width: 250px;
      position: relative;
      right: 0px;
   }
}

@media only screen and (max-width:380px) {
   .logo {
      max-height: 120px;
      max-width: 180px;
      position: relative;
      right: 0px;
   }
}

.overlayContainer {
   position: relative;
}

.logoContainer {
   position: absolute;
   right: 10px;
}

.overlayContainer:hover .overlay {
   opacity: 0.5;
   transform: opacity;
}

.logoContainer:hover .overlay {
   opacity: 0.5;
   transform: opacity;
}

.logo:hover .overlay {
   opacity: 0.5;
   transform: opacity;
}

.clicked-button-color {
   color: #e71414 !important;
}

.buttonCustom {
   color: white;
   font-weight: 600;
   padding: 0 16px 0 16px;
}

.buttonCustom:focus {
   outline: 0;
}

/* Used on dropdown-menu to prevent text being selected as it is not really a link or button and so text would be selected when clicked */
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.menuButton {
   border: 1px solid black;
   border-radius: 50px 20px;
   background-color: black;
   /* background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='138px' height='47px' viewBox='0 0 138 47' enable-background='new 0 0 138 47' xml:space='preserve'%3E%3Cimage id='image0' width='138' height='47' x='0' y='0' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIoAAAAvCAMAAAALiKILAAAABGdBTUEAALGPC/xhBQAAACBjSFJN%0AAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACN1BMVEUIKCcABwkCAAEJAAAC%0AAQAAAgADBQQAAgEAAQMABAUCCAgDDAsDDQwBCwoACQgABwYBBQYCBgcDBwgADg4AEA8AEREAFBMC%0AFhUEGBcFGRgBFxUDGRcBFRQADQ4EEBACDg4BDQ0ADAwAGhsAGxwAHh4BISAAEBACEhIDExMADw8B%0AEREBExMBDxAACAoABgYAAwQABAMBBwcBAwIAAQUBBQgDDQ4EEhIEFBMDExIABAcBCQsAExECFhQB%0AFxQAFBICAgICAgQABwAADhMBFRwAAwAHAgAAAAkEAAMAAAABIR4FBAIBAwAABQAABQEBAQEBBQQB%0ABwUACAcHERMGEBIEDg8CDA0ACgsABQUABQgAAwYACQoADw4AEhABERAADwwBDQsACwcACQYACAUA%0ACgkADAoCDgwACgYACAMBBwMABgICAAMCAwUAEQEEAAAMAAQIERgDBQAABgAMAAAAqqkAqqoBqakA%0Aq6kBq6oBq6sAqqgAqqcAqagAAhMAAxQBAgYBAgcBAgQDAwMCAwcAAg4AAwgCBAMABAADBwYDCQcA%0ACQUACRIEDBkGDhkHAQUEBAIHCAMAAg8CAgABAAUBAQMGAAQBAAIEAAUFAAYCAAUFAAQFAQIFAQAA%0AAAIIAA0BAAYCAQkDAQIDAgAAAAgAAQYAAwIEAwEIAgQGAgELAgMDAwUCAAsBAQADAQYAAAQGAAAL%0ABQcEAAECBAECAQYEAgUKAAACBgUKAAMHCAwIAwcDAQQACQAJAAP///+hwcXfAAAAAWJLR0S8StLi%0A7wAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+QEEhEmJduvVMQAAAL+SURBVFjD7dX5UxJh%0AGAfwxdhASlPxqCzFu8vFXbvUUuykVlA6NOwwM1HWrBTRRFvs0G5LqEgkwuzStOy+/rleludtmG0s%0AImfqh/3MsCw77/F9n3d3IQhZzAI5uVChjFUtWhwXvyQhITEpKSkxUa1OTklNW7pseXp62orUlJUZ%0AmZqsLE1mRnZObl5ebk52fsGqgvzV+WvWFqzTFFJaZRHQxlI0TSfEMqB4/YaNmzars0pK1WVbtpaX%0Aa0EF0FVu275j567dej2xJz5mL1tlMFZUMExRdU0NFRzJZDLt23/gYK2MqiuszaotLS08RFFUXR06%0AmEtk9fWyEnOmOjlZrVEfLjty9FjD8cYTeOimkw3Nzc0NcRZLY0ur1WrldG20iqYpro2Oj2sy0ZVW%0Aa2tLo8ViAKfaT59hz3Z0oig2pMv2M/uP725bFHoibSjMfS54IMKuRjVnZKl6Ixib6HbYbH0OR8Sr%0AmIMj6p5d3bZeYQ+gKvaoR/p7fcFq2IUoPb9cUV/Yadh55DfD7zlC9yrxl8PMB3hq5ilK1x/3gK2w%0AC6eOf1qVsPDwdBH95wX9PO/kB5ALgOcvCi6BywKn0wxU6L1F0yqVDl5t+O06KGIECpEhQzUzeOXq%0Ates3bt4avi27MzJC8MCFuJG74B7Hcfc9Ho8eyOVy4fsB4IsFvGcU8Y553UAnMioiByQKP1jNkKzP%0AZ6hkXQ+NRsLvf4T4/YHx8QD6jOPVBVdCIo/DTUxMDAEcUatFjdmhJ4E54P8mXA0SDD8NLY3RP3v+%0AQj/pmpoicAGVSqXQ0gXwVC8B/u0D06HiTAu1QZ2LwYyI+Drur9Mp3RyqIWdWMq98r9E8hEIRrAE6%0AsiGzoB3gwnqAF+AljAm8XlxNUgRvSLsI6sq+YUny7bv3Hz5+mq2anCR8oS324alwVfAqlCJOEAjE%0AIIEAGtLtRu1xf/G9ge+hAYDH+fwleJUb7TB2fpWZvzEzM4T+vyFFkaJIUaQoUhQpihRFiiJFkaJI%0AUaQoUhQpihRFihK577M/ML5UAbyHAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTA0LTE4VDE3OjM4%0AOjM3KzAzOjAwIpVoRAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0wNC0xOFQxNzozODozNyswMzow%0AMFPI0PgAAAAASUVORK5CYII=' /%3E%3C/svg%3E") no-repeat; */
   font-family: 'Raleway', sans-serif;
   color: white;
   opacity: 1;
   background-position: 0% 60%;
   transition: background-position 0.3s;
   display: none;
   outline: 0;
   text-align: left;
   font-weight: 600;
   padding: 2px 16px 2px 16px;
}

.menuButton.menuClicked {
   background-position: 0% -95%;
}

.dropdown-menu-items {
   font-family: 'Raleway', sans-serif;
   color: white;
   font-weight: 600;
   padding: 4px 0 4px 0;
}

.dropdown-menu-items:focus {
   outline: 0;
}

.dropdown-menu {
   position: relative;
   display: inline-block;
   border-radius: 50px 20px;
   display: none;
   text-align: left;
   border: 4px solid #e71414;
   left: 15px;
}

.dropdown-container {
   top: 55px;
   left: -20px;
   position: absolute;
   background-color: black;
   width: 1000px;
   padding: 0px 16px;
   height: 0px;
   transition: height 0.3s ease;
   display: none;
   flex-direction: column;
   display: flex;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
}

.dropdown-container.visible {
   height: 170px;
   border-bottom: 4px solid #e71414;
   border-radius: 0 0 0.25rem 0.25rem;
   z-index: 1;
}

@media only screen and (max-width:768px) {
   .copyright {
      width: 75%;
   }
}

@media only screen and (max-width:768px) {

   /* For mobile phones: */
   nav {
      padding: 17px 0px 17px 0px;
   }

   .buttonCustom {
      opacity: 0;
      display: none;
   }

   .menuButton {
      display: inline-block;
   }

   .dropdown-menu {
      display: inline-block;
   }

   .copyright {
      width: 75%;
   }

}

.about__us {

   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 65vh;
   width: 100%;
   /* background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
      url('../images/choreography.JPG'); */
   background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
      url('../img/backgrounds/ballet.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.about__us__title {
   font-family: 'Roboto',
      sans-serif;
   font-size: 3rem;
   color: white;
}


@media only screen and (max-width:738px) {
   .about__us__title {
      font-family: 'Roboto',
         sans-serif;
      font-size: 2rem;
      color: white;
   }
}

@media only screen and (max-width:450px) {
   .about__us__title {
      font-family: 'Roboto',
         sans-serif;
      font-size: 1.5rem;
      color: white;
   }
}

.about__us__text {
   padding-top: 83px;
   font-size: 1rem;
}

#gallery {
   margin-top: 83px;
   background-color: #0030bf;
   height: 62vh;
   width: 100%;
}

.wrapper {
   height: 100%;
   padding: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width:767px) {
   .wrapper {
      padding: 50px 10px;
   }
}

/* Основные стили */

/* Слайдер */
.slick-slider {
   min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
   overflow: hidden;
}

/* Лента слайдов */
.slick-track {
   display: flex;
   align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
   position: relative;
   padding: 0px 60px;
}

@media (max-width:767px) {
   .slider {
      padding: 0px 40px;
   }
}

.slider .slick-arrow {
   position: absolute;
   top: 50%;
   margin: -30px 0px 0px 0px;
   z-index: 10;
   font-size: 0;
   width: 30px;
   height: 60px;
}

.slider .slick-arrow.slick-prev {
   left: 0;
   background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
   right: 0;
   background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
   opacity: 0.2;
}

.slider .slick-dots {
   display: flex;
   align-items: center;
   justify-content: center;
}

.slider .slick-dots li {
   list-style: none;
   margin: 0px 10px;
}

.slider .slick-dots button {
   font-size: 0;
   width: 10px;
   height: 10px;
   background-color: #fff;
   border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
   background-color: transparent;
   border: 1px solid #fff;
}

.slider__item {
   padding: 0px 15px;
}

.slider__item img {
   max-width: 100%;
}

#info {
   padding-top: 200px;
   padding-bottom: 150px;
}

#info h1 {
   font-family: 'Raleway',
      sans-serif;
   color: black;
   font-size: 2rem;
}

#info a {
   font-family: 'Raleway',
      sans-serif;
   color: #e71414;
   font-size: 2rem;
}

#info a::hover {
   color: rebeccapurple;
}

@media (max-width:548px) {
   #info {
      padding-top: 100px;
      padding-bottom: 75px;
   }

   #info h1 {
      font-family: 'Raleway',
         sans-serif;
      color: black;
      font-size: 1rem;
   }
}

footer {

   bottom: 0;
}

@media (max-height:800px) {
   footer {
      position: static;
   }

   header {
      padding-top: 40px;
   }
}


.footer-distributed {
   background-color: #0030bf;
   box-sizing: border-box;
   width: 100%;
   text-align: left;
   font: bold 16px sans-serif;
   padding: 50px 10px 60px 10px;
   margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
   display: inline-block;
   vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
   width: 30%;
}

.footer-distributed h3 {
   color: #ffffff;
   font: normal 36px 'Cookie', cursive;
   margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img {
   width: 90%;
}

.footer-distributed h3 span {
   color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
   color: #ffffff;
   margin: 20px 60px 12px;
}

.footer-distributed .footer-links a {
   display: inline-block;
   line-height: 1.8;
   text-decoration: none;
   color: inherit;
}

.footer-distributed .footer-company-name {
   color: w;
   font-size: 14px;
   font-weight: normal;
   margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
   width: 35%;
}


.footer-distributed .footer-center i {
   background-color: #e71414;
   color: #ffffff;
   font-size: 25px;
   width: 38px;
   height: 38px;
   border-radius: 50%;
   text-align: center;
   line-height: 42px;
   margin: 10px 15px;
   vertical-align: middle;
}



.footer-distributed .footer-center i.fa-envelope {
   font-size: 17px;
   line-height: 38px;
}

.footer-distributed .footer-center p {
   display: inline-block;
   color: #ffffff;
   vertical-align: middle;
   margin: 0;
}

.footer-distributed .footer-center p span {
   display: block;
   font-weight: normal;
   font-size: 14px;
   line-height: 2;
}

.footer-distributed .footer-center p a {
   color: #ffffff;

   text-decoration: none;

}


/* Footer Right */

.footer-distributed .footer-right {
   width: 30%;
}

.footer-distributed .footer-company-about {
   line-height: 20px;
   color: #92999f;
   font-size: 13px;
   font-weight: normal;
   margin: 0;
}

.footer-distributed .footer-company-about span {
   display: block;
   color: #ffffff;
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 20px;
}

.footer-distributed .footer-icons {
   margin-top: 25px;
}

.footer-distributed .footer-icons a {
   display: inline-block;
   width: 35px;
   height: 35px;
   cursor: pointer;
   background-color: #33383b;
   border-radius: 2px;

   font-size: 20px;
   color: #ffffff;
   text-align: center;
   line-height: 35px;

   margin-right: 3px;
   margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
   }

   .footer-distributed .footer-center i {
      margin-left: 0;
   }

}

/* */